$color-brand:#E94D35;
$color-dark: #161513;
$color-white:#FFFF;
$color-background: #F5F5F5;
$color-text: #161513;
//$color-hover:;
//$color-grey:;
//$color-grey-light:;
//$color-blue:;

$content-width: 1280px;
$tablet-width: 800px;
$mobile-big-width: 450px;
$mobile-width: 370px;