.top {
    @include columns($width: 45%);
    padding-top: 40px;
    align-items: center;
}

.top__info {
    max-width: 670px;
}

.top__title {
    margin-bottom: 30px;
}



.top__buttons {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.top__button_dark {
    padding: 10px 33px;
    background-color: $color-dark;
    color: $color-white;
}

.top__media {
    max-width: 500px;

    img {
        width: 100%;
        border-radius: 50%;
    }
}